# This only show what is needed for the application to run normally.
#
# .env file should be pasted to ./dist/ folder

NODE_ENV=
PORT=3000
USE_CONTROLLERS=true

USE_RABBITMQ=false
RABBITMQ_URL=
RABBITMQ_LISTEN_TO_QUEUE_NAME=

USE_REDIS=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_EXPIRY_SECONDS=